NODE_ENV=development
PORT=4000

DATABASE_URL="postgresql://postgres.zrfysunplxgeffujoemn:zBnlzgfTSIT6x11m@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres?sslmode=require&uselibpqcompat=true"

BETTER_AUTH_SECRET=956681017f87eb19350ba2b5170fa40874f664d5d19d15c2b7d532475b1305fb
BETTER_AUTH_URL=http://localhost:4000
WEB_ORIGIN=http://localhost:5173